body {
  text-align: center;
}

/* #ffb400 */
#title {
  /* background: linear-gradient(-45deg, yellow, #ffd31d); */
  background-image: url('imagenes/fondo-am1.jpg');
  background-size: cover;
  font-weight: bolder;
  text-align: center;
}

.logo_papigs {
  /* width: 300px; */
  width: 30%;
  position: absolute;
  top: 25px;
  left: 20px;
}

.navbar {
  top: 0;
  padding-right: 5px;
}

.navbar-toggler, .navbar-toggler-icon {
  font-size: 28px;
  padding-top: 12px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 12px;
}

/* --- Clase que agregaremos cuando el usuario haga scroll --- */
.menu-fixed {
  background-color: rgb(255, 211, 29, .90);
  position: fixed;
  z-index: 1000;
  top: 0;
  /* max-width:1000px; Para hacer la barra más corta */
  right: 0;
  width: 100%;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, .1);
}

.logo_small {
  width: 18%;
  top: 8px;
  left: 25px;
}

.nav-item {
  padding: 0 20px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Noto Sans SC', sans-serif;
}

#full-screen {
  width: 100%;
  height: 90vh;
  background-size: 200% 200%;
  /* padding-left: 2%; */
  border: 0;
}

.box {
  width: 100%;
  height: 100%;
  padding: 0px 60px 40px 0px;
  /* padding: 2%; */
}

.full-screen-box1 {
  width: 20%;
  height: 100%;
  /* padding-top: 15%; */
}

.full-screen-box2 {
  width: 80%;
  height: 100%;
}

#full-screen .video2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  border: #fff 10px solid;
  /* z-index: 5; */
}

/* ------------------NOSOTROS-------------- */
#nosotros {
  background: #f5feff;
  color: #fff;
  padding: 8% 20%;
  width: 100%;
  height: auto;
  background: -webkit-linear-gradient(-45deg, rgba(15, 32, 39, 0.403), rgba(32, 58, 67, 0.403), rgba(44, 83, 100, 0.403)), url("imagenes/FONDOMENUT5.jpg");
  background: linear-gradient(-45deg, rgba(15, 32, 39, 0.403), rgba(32, 58, 67, 0.403), rgba(44, 83, 100, 0.403)), url("imagenes/FONDOMENUT5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.conocenos {
  margin-top: 15px;
  margin-bottom: 35px;
}

.letra1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
}

.letra2 {
  font-family: 'Appetizer FREE Regular';
  font-size: 5rem;
}

.letra3 {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 1.5rem;
  text-align: justify;
}

/* ---------------          MENU    ------------------        */
.Tit-menu {
  width: 100%;
  height: auto;
  padding: 40px 0 10px 0;
}

.mimenu {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 4rem;
  color: #c15050;
}

.container-fluid {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  background:  url("imagenes/6.jpg");
  background-size: contain;
  background-attachment: scroll;
}

.container {
  width: 100%;
  padding: 60px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.img_menu_box {
  width: 50%;
  height: 565px;
}

.imagen_menu_web {
  width: 100%;
  height: 100%;
}

.img_menu_box2 {
  width: 50%;
  height: auto;
  /* display: none; */
}

.imagen_menu_web2 {
  width: 100%;
  height: 100%;
  margin-left: 50%;
  display: none;
  overflow: visible;
}

.img_menu_box, .accordion-menu {
  width: calc(50% - 20px);
}

.accor {
  width: 100%;
  padding: 0 0 1px 5px;
  border: 2px solid #AA1D1D;
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  margin: 10px 0;
  align-items: center;
  background-color: rgba(67, 61, 60, .6);
}

.th5 {
  width: 100%;
}

.accor .icon {
  margin: 0 0 0 10px;
  width: 30px;
  height: 30px;
  background: url(imagenes/plus-circle-24.png) no-repeat 2px 2px;
  float: right;
  transition: all .5s ease-in;
}

.accor h5 {
  font-size: 20px;
  margin: 0;
  padding: 3px 0 0 0;
  font-weight: bold;
  color: #fff;
}

.text-men-salsas {
  text-align: right;
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 0.8rem;
}

.active .icon {
  background: url(imagenes/minus-circle-24.png) no-repeat 2px 2px;
}

.active {
  background-color: rgba(170, 29, 29, .6);
  color: #fafafa;
}

.active h5 {
  color: #fafafa;
}

.panel {
  padding: 0 15px;
  border-left: 1px solid #AA1D1D;
  background-color: #ffffff90;
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: bold;
  color: #000;
  font-size: 0.8rem;
  margin-left: 25px;
  /* font-size: 14px; */
  text-align: justify;
  overflow: hidden;
  max-height: 0px;
  transition: all .6s ease-in;
}

/* -------------  Pedido ------------- */
#pedido {
  padding: 100px 125px;
  background: #ac4b1c;
  color: #f7f7f7;
  color: #fca652;
}

.pedidos-column {
  padding: 3% 2%;
  margin-top: 25px;
}

.pedidos-box1 {
  width: 25%;
}

.pedidos-box2 {
  width: 50%;
}

.pedidos {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 300%;
  line-height: 1;
}

.pedidos1 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 150%;
  line-height: 1;
  border-radius: 20px;
  border: 3px solid #fff;
}

/* -------------  Siguenos ------------- */
#siguenos {
  padding: 7% 15%;
  background-color: #f5feff;
  background-image: url('imagenes/texture.png');
}

.icon-form {
  border-radius: 15px;
  cursor: pointer;
}

.icon-social {
  color: #f37121;
  margin: 20px 30px;
  font-size: 35px;
}

.icon-social:hover {
  color: #eb5e0b;
}

.foot {
  font-family: 'Montserrat', sans-serif;
  color: #8f8f8f;
  font-size: 1.2rem;
}

/* Media Query 1029px*/
@media (max-width: 1029px) {
  #title {
    background-size: contain;
  }

  .box {
    padding: 5%;
  }

  #nosotros {
    padding: 20% 15%;
  }

  .letra3 {
    text-align: center;
    font-size: 2rem;
  }

  #full-screen {
    margin: 0;
    display: flex;
    height: 60vh;
  }

  .full-screen-box1 {
    width: 10%;
    padding-top: 30%;
  }

  .full-screen-box2 {
    width: 90%;
  }

  .nav-link {
    font-size: 2rem;
    color: #fff !important;
  }

  .nav-link:hover {
    color: rgb(255, 255, 255, .75) !important;
  }

  .container {
    max-width: 700px;
    padding: 20px 20px 0px 20px;
  }
.Tit-menu {
  padding: 90px 0 10px 0;
}
  .accordion-menu {
    width: 100%;
    margin: 20px 0;
    align-items: center;
  }

  .imagen_menu_web {
    display: none;
  }

  .img_menu_box {
    display: none;
  }

  .img_menu_box2 {
    display: block;
  }

  .imagen_menu_web2 {
    display: block;
  }

  .accor {
    padding: 0 0 8px 5px;
    margin: 12px 0;
  }

  .accor .icon {
    margin: 8px 10px 0 10px;
    width: 40px;
    height: 35px;
    background: url(imagenes/plus-circle-36.png) no-repeat;
  }

  .active .icon {
    background: url(imagenes/minus-circle-36.png) no-repeat;
  }

  .accor h5 {
    font-size: 25px;
  }

  .text-men-salsas {
    font-size: 1rem;
  }
.container-fluid {
  background-attachment: fixed;
}
  .panel {
    font-size: 1.6rem;
    background-color: #ffffff99;
  }

  .pedidos {
    font-size: 200%;
  }

  .pedidos1 {
    font-size: 100%;
  }

  .pedidos-box1 {
    width: 5%;
  }

  .pedidos-box2 {
    width: 90%;
  }

  #siguenos {
    padding: 10% 15%;
  }

  #nosotros {
    background-attachment: scroll;
  }
}

@media (max-width: 495px) {
  .navbar-toggler, .navbar-toggler-icon {
    font-size: 32px;
    padding-top: 15px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 15px;
  }
}

@font-face {
  font-family: 'Appetizer FREE Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Appetizer FREE Regular'), url('Fuentes/Appetizer FREE.woff') format('woff');
}
